---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Web Design Contest">
	<main>

		<h1>Read Me - Only if you want to win.</h1>

		<h2>First, read this FAQ:</h2>
		<ol>
			<li>What will your team do?
				<ul>
					<li>You will create a site for a specific client.</li>
				</ul>
			</li>

			
			<li>What do we get to help build the site for my client?
				<ul>
					<li>A Client bio.pdf So you can learn about your client.</li>
					<li>Image assets provided by your client and their stakeholders.</li>
					<li>The client's already approved wireframe designs.</li>
				</ul>
			</li>

			<li>What else does my team need to know as the designer/developer?
				<ul>
					<li>You will decide the colors, fonts, spacing, and other aesthetics for the client and implement the aesthetics into the provided layout.</li>
					<li>The ‘client’ has provided images and content.
						<ul>
							<li>As is often the case in the real world with assets provided by clients, they may not be entirely appropriate for the web.</li>
							<li>You should rename and optimize images. You may adjust and add effects to fit your aesthetic vision.</li>
						</ul>
					</li>
				</ul>
			</li>

			<li>Where will you code your site?
				<ul>
					<li>You will do all of the coding in the online editor environment (CloudCodePro IDE) provided.</li>
					<li>You will share a single account. Hint, work together and communicate.</li>
					<li>Judges will only evaluate your site and the site/code found in your IDE account. They cannot review your site from your computer. The review process is conducted online and will take place after the competition ends.</li>
					<li>But wait, I don’t know this IDE.
						<ul>
							<li>How can I use this online IDE? Watch this video.</li>
							<li><a href="https://webprofessionals.site/IDEoverview">https://webprofessionals.site/IDEoverview</a></li>
						</ul>
					</li>
				</ul>
			</li>
			
			<li>Anything I should be careful of?
				<ul>
					<li>You CANNOT use frameworks such as Bootstrap, jQuery, or React in this competition. You must demonstrate competency with the foundational technologies, HTML, CSS, and JS.</li>
					<li>Your judges will use any or all of the latest versions of the following browsers
						<ul>
							<li>Desktop: Chrome, Firefox, Safari, Edge</li>
							<li>Android: Chrome</li>
							<li>iOS: Safari on iPhone and or iPad</li>
							<li>Accessibility: JAWS screen reader or Apple VoiceOver</li>
						</ul>
					</li>
				</ul>
			</li>

			<li>What is the first thing I should do?
				<ul>
					<li>Get your login, sign in, and download the 'client-assets.zip' file, then unzip it on your computer. This zip file contains critical information required for the competition. Be sure to take a moment are review all the assets.</li>
					<li>You will be provided with your unique IDE’s URL, username, and password.</li>
				</ul>
			</li>

			<li>What is Inside the zip?
				<ul>
					<li>Meet your client.pdf</li>
					<li>3 asset folders</li>
					<li>Wireframe.pdf</li>
				</ul>
			</li>

			<li>What if I don’t know how to use the IDE or log in to the IDE?
				<ul>
					<li>Watch this video <a href="https://webprofessionals.site/IDEoverview">https://webprofessionals.site/IDEoverview</a></li>
					<li>You may watch this video as many times as you wish. Nobody is counting.</li>
				</ul>
			</li>

			<li>Where to turn for code help?
				<ul>
					<li>At the national level we recommend the <a href="https://developer.mozilla.org/en-US/">Mozilla Developer Network's MDN Web Docs</a></li>
				</ul>
			</li>

			<li>What are some suggestions on how to win?
			<ul>
				<li>Pay attention to detail.</li>
				<li>Take time to think about your client’s business needs and their audience.</li>
				<li>Collaborate as a team. Teams win not individuals.</li>
				<li>Make sure your code is clean.</li>
				<li>Be sure your site is in your IDE, tested, and is your best work.</li>
				<li>Don't rush—there are no points awarded for finishing first. By the way, at the national level, those who finish first typically rank the lowest in the competition. Winners seem to consistently strive and keep fighting until the very last minute.</li>
				<li>DO NOT leave the competition until you have checked in with the judge/coordinator and confirmed with them that your project is online and ready to review.</li>
			</ul>
			</li>
		</ol>

		<h2>Aesthetic Direction</h2>
		<p><img src="aesthetic-direction.png" alt=""></p>

		<h2>Logomark</h2>
		<p>Please let me know if you need this regenerated with colors to match your aesthetic.</p>
		<p>
			<figure>
				<img src="amichi-vecchi-logomark.svg" alt="">
				<figcaption>Right Click → Download</figcaption>
			</figure>
		</p>
		
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	figure {
		display: flex;
		flex-direction: column;
		width: fit-content;
	}
	figure > img {
		display: block;
		background-color: #f8fafc;
	}
</style>
